.label-tooltip {
    display: inline-flex;
    max-width: 100%;
}

.label {
    display: inline-flex;
    align-items: center;
    cursor: inherit;
    white-space: nowrap;
    max-width: 100%;
}

.label clr-icon {
    margin-right: 3px;
    margin-top: 3px;
    flex-shrink: 0;
}

.label-name {
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}
